.form {
  &__group {
    margin-bottom: $form-group-margin-bottom;

    @include media-breakpoint-up(sm) {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }
  }
}