// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

.modal__dom {
  // Kill the scroll on the body
  &--open {
    overflow: hidden;
  }

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  &.active {
    display: block;
  }
}

.modal__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg;

  // Fade for backdrop
  &.fade {
    opacity: 0;
  }
  &.show {
    opacity: $modal-backdrop-opacity;
  }
}

// Shell div to position the modal with bottom padding
.modal__dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  // When fading in the modal, animate it to slide down
  .modal.fade & {
    @include transition($modal-transition);
    transform: translate(0, -25%);
  }
  .modal.show & {
    transform: translate(0, 0);
  }
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal__dialog {
    max-width: $modal-md;
    margin: $modal-dialog-margin-y-sm-up auto;
  }

  .modal--sm {
    max-width: $modal-sm;
  }
}

@include media-breakpoint-up(lg) {
  .modal--lg {
    max-width: $modal-lg;
  }
}

// Modals
// Design element Dialogs
// --------------------------------------------------
.modal {
  &--style {
    &-default {
      @include modal-colors($white, $black);
    }

    &-primary {
      @include modal-colors($primary, $white);
    }

    &-danger {
      @include modal-colors($danger, $white);
    }

    &-warning {
      @include modal-colors($warning, $white);
    }

    &-success {
      @include modal-colors($success, $white);
    }

    &-info {
      @include modal-colors($info, $white);
    }
  }
}
