.text-size-base { font-size: $font-size-base; }
.text-size-sm { font-size: $font-size-sm; }
.text-size-lg { font-size: $font-size-lg; }

.text-weight-base { font-weight: $font-weight-base; }
.text-weight-light { font-weight: $font-weight-light; }
.text-weight-normal { font-weight: $font-weight-normal; }
.text-weight-bold { font-weight: $font-weight-bold; }

.text-h1 { font-size: $h1-font-size; }
.text-h2 { font-size: $h2-font-size; }
.text-h3 { font-size: $h3-font-size; }
.text-h4 { font-size: $h4-font-size; }
.text-h5 { font-size: $h5-font-size; }
.text-h6 { font-size: $h6-font-size; }