$card-border-top: 0;

$card-inner-padding: 1rem !default;

$card-content-bg: $white !default;
$card-content-border-color: rgba($black, 0.2) !default;
$card-content-border-width: $border-width !default;
$card-content-border-radius: $border-radius-lg !default;
$card-content-box-shadow-xs: 0 0.25rem 0.5rem rgba($black, 0.5) !default;
$card-content-box-shadow-sm-up: 0 0.5rem 1rem rgba($black, 0.5) !default;
